<html>
    <head>
        <title>
            Los Angeles Ground-Level Ozone Forecast | About
        </title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename = 'gray_style.css') }}" type="text/css"></link>
    </head>
    <body>
        <div id = "main-container">
        <h1>Los Angeles Ground-Level Ozone Forecast | About</h1><p>
        <div>
        <ul>
		<li>More than 20 years of historical air quality data were collected from the South Coast Air Quality Management District's monitoring site in Downtown Los Angeles.
		<li>A subset (>117k hourly data points) of the data from 2000 - 2015 was used to train a long short-term memory (LSTM) neural network in predicting surface-level ozone.
		<li>The model was validated using a smaller subset (>39k hourly data points) of the data from 2015 - 2020.
		<li>Predictions with a 1-hour horizon had a mean error of &#177;4.1 ppb, while those on a 24-hour horizon had a mean error of &#177;8.6 ppb.
		<li>New data is collected hourly from the SCAQMD website. A new forecast is issued hourly.
	</ul><p>

	<span>Return to the <a href = '/'>forecast home page</a>.<p></span>






        
        <span style="font-size: small; font-style: italic">This page is best displayed on a tablet or larger device.<br>
                                                          &copy; 2021 Joshua Hirner.<p>
        <div style="font-size: small; font-style: italic"><a href = "https://github.com/jhirner/socal-air-quality">Explore this project on GitHub</a></div>
        </div>
    </body>
</html>
