# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints/*

# Pycharm
.idea/*

# Other
*.db
*.bash*
*.cache*


# In-progress work
*no2*
*pm25*
